.parameter-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 20px;
    position: fixed;
    right: 50%;
  }
  .parameter-table {
  width: 300px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.parameter-table th,
.parameter-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  color: black;
  background-color: white;
}

.parameter-table th {
  background-color: #f2f2f2;
}